@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-brown-400 {
        background-color: rgba(181, 126, 63, 1);
      }
    .border-brown-400 {
        border-color: rgba(181, 126, 63,1);
      }
    .bg-white-400 {
        background-color: rgba(191, 63, 108, 1);
    }
    .border-white-400 {
        border-color: rgba(191, 63, 108, 1);
    }
    .text-brown-400 {
        --tw-border-opacity: 1;
        color: rgba(181, 126, 63, 1);
    }
    .text-white-400 {
        color: rgba(191, 63, 108, 1);
    }
 
  }

  @layer base {
      h1 {
        font-family: 'Poppins', sans-serif;    }
  }

